<div class="col-md-2"></div>

<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Add New Project</h4>
      <p class="card-category">Add new Project and its details in the system!</p>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
